In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('output.csv')

In [15]:
df.head()

,name,price,ratedBy,price_isTo_ratedBy
0,Nykaa Cosmetics Matte Tattoo Lip Colour,809,5,0.006180
1,Nykaa SkinShield Anti-Pollution Matte Foundation,479,6280,13.110647
2,Nykaa Eyes On Me! 10-in-1 Eyeshadow Palette,479,22201,46.348643
3,Nykaa Matte to Last! Transfer Proof Liquid Lip...,519,38146,73.499037
4,Nykaa Nail Enamel,113,62888,556.530973

In [3]:
df['price'] = df['price'].apply(lambda x: x.replace('â‚¹', ''))

In [4]:
df['ratedBy'] = df['ratedBy'].apply(lambda x: x.replace('(', '').replace(')', ''))

In [5]:
df["price"] = pd.to_numeric(df["price"])

In [6]:
df["ratedBy"] = pd.to_numeric(df["ratedBy"])

In [14]:
df["price_isTo_ratedBy"] = df['ratedBy']/df['price']

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                280 non-null    object
 1   price               280 non-null    int64
 2   ratedBy             280 non-null    int64
 3   price_isTo_ratedBy  280 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 8.9+ KB

In [11]:
# avg people rating each product
avg_raters = df['ratedBy'].sum() // len(df)
print(f"average number of peoples rating a product : {avg_raters} (based on sample size : {len(df)} products)")

average number of peoples rating a product : 22208 (based on sample size : 280 products)

In [18]:
# Most number of people rated following product with respective price.
df.loc[df["price_isTo_ratedBy"] == df["price_isTo_ratedBy"].max()]

                name  price  ratedBy  price_isTo_ratedBy
4  Nykaa Nail Enamel    113    62888          556.530973